.container {
  background-color: black;
  color: white;
  display: inline-flex;
  height: 60px;
  width: 100%;

}

.left {
  display: flex;
width: 82px;

}

.nav{
  display: flex;
  color: white;
  float: right;
  align-items: center;
}

.main {
 height: 721px;
 width: 100%;
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
 background-size: cover;
}
